<!-- Header -->
<div class="header">
  <div class="logo">
    <img src="logo.png" alt="Logo">
  </div>
  
  <div class="title">
    Event-Management-App
  </div>
  
  <div class="navigation">
    <a href="#">Login</a>
  </div>
</div>

<!-- Main Content -->
<div class="content">
  <!-- Willkommenstext -->
  <div class="welcome-text">
    <p>Willkommen auf der Seite zum Anzeigen und Verwalten von Events zum Thema Process Mining und Celonis. Hier findest du die anstehenden und zurückliegenden Events übersichtlich dargestellt und kannst diese in deinem eigenen Account abspeichern. Registriere dich dafür oder logge dich oben rechts ein.</p>
  </div>
  <br>
  <h2>Aktuelle Events zum Thema Process Mining</h2>

  <div class="search-bar-and-datepicker">
    <div class="search-bar-container" 
    cdkOverlayOrigin 
    #overlayPosition="cdkOverlayOrigin" 
    [ngClass]="{ 'opened mat-elevation-z2': overlayOpen()  && recentSearches().length > 0 }">
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
      <input 
      #searchInput 
      [value] = "searchTerm()" 
      placeholder="search my app" 
      (click)="overlayOpen.set(true)" 
      (keydown.ENTER)="search(searchInput.value)"
      />
      @if (searchTerm()) {
        <button mat-icon-button class="close-button" (click)="clearSearch()">
          <mat-icon>close</mat-icon>
        </button>
      }
    </div>
    <ng-template 
    *ngIf="recentSearches().length > 0"
    cdkConnectedOverlay 
    [cdkConnectedOverlayOrigin]="overlayPosition" 
    [cdkConnectedOverlayOpen]="overlayOpen()" 
    (overlayOutsideClick)="overlayOpen.set(false)">
      <div class="overlay-container mat-elevation-z2">
        <mat-action-list>
          @for (search of recentSearches(); track search) {
            <mat-list-item (click)="performSearch(search)">
              <mat-icon matListItemIcon>history</mat-icon>
              <h3>{{search}}</h3>
              <button matListItemMeta mat-icon-button (click)="deleteRecentSearch(search)" (click)='$event.stopPropagation()'>
                <mat-icon>close</mat-icon>
              </button>
            </mat-list-item>
          }
        </mat-action-list>
      </div>
    </ng-template>

      <!-- Datepicker -->
      <div class="datepicker-container">
        <input 
          type="date" 
          class="datepicker-input" 
          placeholder="Select a date"
        />
      </div>
    </div>
    <div class="filter-chips">
      <div class="chip" (click)="toggleChip('alles')" [ngClass]="{'selected': selectedChips.includes('alles')}">
        <span>alles</span>
        <button class="close-btn" *ngIf="selectedChips.includes('alles')">✖</button>
      </div>
    
      <div class="chip" (click)="toggleChip('Events')" [ngClass]="{'selected': selectedChips.includes('Events')}">
        <span>Events</span>
        <button class="close-btn" *ngIf="selectedChips.includes('Events')">✖</button>
      </div>
    
      <div class="chip" (click)="toggleChip('Webinare')" [ngClass]="{'selected': selectedChips.includes('Webinare')}">
        <span>Webinare</span>
        <button class="close-btn" *ngIf="selectedChips.includes('Webinare')">✖</button>
      </div>
    
      <div class="chip" (click)="toggleChip('Demo')" [ngClass]="{'selected': selectedChips.includes('Demo')}">
        <span>Demo</span>
        <button class="close-btn" *ngIf="selectedChips.includes('Demo')">✖</button>
      </div>
    </div>
    
  </div>

<!-- Footer -->
<div class="footer">
  <div class="footer-navigation">
  </div>
</div>
