<div class="login-container">
  <div class="login-box">
    <img src="logo.png" alt="Logo" class="logo">
    
    <input type="text" placeholder="Benutzername" class="login-input" [(ngModel)]="username" />
    <input type="password" placeholder="Passwort" class="login-input" [(ngModel)]="password" />
    
    <button class="login-button" (click)="login()">Login</button>
        
    <div class="separator">
      <span>oder</span>
    </div>
    <img src="microsoft entra-id.jpg" alt="Logo" class="ms-entra-id">
  </div>
</div>
